#textarea {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(114, 114, 114);
}

#lpm {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#time {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#towrite {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#words {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#start {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reset {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#check {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#keyboard {
    position: absolute;
    width: 100%;
    height: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#keyboard .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#keyboard .key {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: 5px;
}

#keyboard .key:hover {
    background-color: #000;
    color: #fff;
}

.key-tab,
.key-caps,
.key-backspace,
.key-enter,
.key-shift {
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: 5px;
}

.key-ctrl,
.key-alt {
    width: 75px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: 5px;
}

.key-space {
    width: 300px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    margin: 5px;
}

.key-alt:hover,
.key-ctrl:hover,
.key-tab:hover,
.key-caps:hover,
.key-backspace:hover,
.key-enter:hover,
.key-shift:hover,
.key-space:hover {
    background-color: #000;
    color: #fff;
}